<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JsonSearchServlet</servlet-name>
  	<display-name>JsonSearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.cerner.hackathon2020.servlet.JsonSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JsonSearchServlet</servlet-name>
  	<url-pattern>/JsonSearchServlet</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>  
   <welcome-file>home.jsp</welcome-file>  
   </welcome-file-list>
</web-app>
